<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="predis">
            <file>./tests/predis/PredisTestSet.php</file>
        </testsuite>
        <testsuite name="predis-noset">
            <file>./tests/predis/PredisTestNoSet.php</file>
        </testsuite>
        <testsuite name="php-redis">
            <file>./tests/phpredis/RedisTestSet.php</file>
        </testsuite>
        <testsuite name="php-redis-noset">
            <file>./tests/phpredis/RedisTestNoSet.php</file>
        </testsuite>

        <testsuite name="facade">
            <file>./tests/facade/FacadeTest.php</file>
        </testsuite>
        <testsuite name="psr6">
            <file>./tests/psr6/PsrTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>